<nb-reveal-card nbSpinnerStatus="primary" [nbSpinner]="loading" [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (typeChange)="typeChanged($event)" (periodChange)="setPeriodAngGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-front-card [period]="period" [frontCardData]="appointmentData"></ngx-traffic-front-card>
      <!-- <nb-icon class="toggle-icon" icon="chevron-up-outline" pack="eva" (click)="toggleView()"></nb-icon> -->
    </nb-card>
  </nb-card-front>
  <!-- <nb-card-back>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (typeChange)="typeChanged($event)" (periodChange)="setPeriodAngGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-back-card [appointmentData]="appointmentData"></ngx-traffic-back-card>
      <nb-icon class="toggle-icon" icon="chevron-down-outline" pack="eva" (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-back> -->
</nb-reveal-card>
