<nb-card>
  <nb-card-header>Login</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="login()">
          <div class="form-group">
            <label class="label">Email/Phone number: </label>
            <input nbInput fullWidth [(ngModel)]="username" name="username" placeholder="Email/Phone number"> 
          </div>
          <div class="form-group">
            <label class="label">Password: </label>
            <!-- <input #passwordInput nbInput fullWidth [(ngModel)]="password" name="password" placeholder="Password" type="password">  -->
            <div class="input-group mb-3">
              <input #passwordInput class="form-control" [(ngModel)]="password" name="password" placeholder="Password" type="password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="toggleShowPassword()" type="button"><nb-icon [icon]="passwordShown ? 'eye-off-outline' : 'eye-outline'"></nb-icon></button>
              </div>
            </div>
          </div>
          <small (click)="forgotPassword()" style="cursor: pointer;" class="text-success">Forgot password?</small>
          <small style="float:right;"><a [routerLink]="['/auth/register']">Sign up here as a doctor</a></small>
          <button style="display: block;" nbButton status="success">Submit</button>
        </form>
      </div>  
    </div>
  </nb-card-body>
</nb-card>

<ng-template #fpUsernameDialog>
  <nb-card>
    <nb-card-header>Enter your email</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="submitFpUsername()">
        <div class="form-group">
          <label class="label">Email: </label>
          <input nbInput fullWidth name="fp-user" [(ngModel)]="fpUsername" placeholder="Email">
        </div>
        <button nbButton status="success">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #fpCodeDialog>
  <nb-card>
    <nb-card-header>Enter verification code</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="submitCode()">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="label">Verification code: </label>
            <input nbInput fullWidth name="code" [(ngModel)]="code" placeholder="Verification code">
          </div>
          <div class="form-group col-md-6">
            <label class="label">New password: </label>
            <!-- <input nbInput fullWidth name="new" #newPassword type="password" [(ngModel)]="new" placeholder="New password"> -->
            <div class="input-group mb-3">
              <input #newPasswordInput class="form-control" type="password" [(ngModel)]="new" placeholder="New password" name="new">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="toggleShowNewPassword()" type="button"><nb-icon [icon]="newPasswordShown ? 'eye-off-outline' : 'eye-outline'"></nb-icon></button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="label">Confirm New password: </label>
            <!-- <input nbInput fullWidth name="confirm-new" type="password" [(ngModel)]="confirmNew" placeholder="Confirm New password"> -->
            <div class="input-group mb-3">
              <input #confirmNewPasswordInput class="form-control" name="confirm-new" type="password" [(ngModel)]="confirmNew" placeholder="Confirm New password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="toggleShowConfirmNewPassword()" type="button"><nb-icon [icon]="confirmNewPasswordShown ? 'eye-off-outline' : 'eye-outline'"></nb-icon></button>
              </div>
            </div>
          </div>
        </div>
        <button nbButton status="success">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #otpDialog>
  <nb-card>
    <nb-card-header>Enter OTP: </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="enterOtp()">
        <div class="form-group">
          <label class="label">OTP: </label>
          <input nbInput fullWidth name="otp" [(ngModel)]="otp" placeholder="OTP">
        </div>
        <button nbButton status="success">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>