<div class="row">
  <div class="col-md-8">
    <nb-card nbSpinnerStatus="primary" [nbSpinner]="loading">
      <nb-card-header>Profile</nb-card-header>
      <nb-card-body>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <img [src]="image" class="img-fluid">
            <button style="margin-top: 5px;" nbButton (click)="fileInput.click()">Choose image</button>
            <input #fileInput accept="image/*" style="display: none;" type="file" (change)="imageSelected($event)">
          </div>
        </div>
      </div>
      <div style="margin-top:10px;" class="container">
        <form (ngSubmit)="updateDoctor()">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="label">Name: </label>
              <input nbInput fullWidth placeholder="Name" name="name" [(ngModel)]="name">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Charge: </label>
              <input nbInput fullWidth type="number" name="charge" placeholder="Charge" [(ngModel)]="charge">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Speciality: </label>
              <nb-select fullWidth [(selected)]="speciality">
                <nb-option *ngFor="let s of specialities" value="{{s.title}}">{{s.title}}</nb-option>
              </nb-select>
            </div>
            <div class="form-group col-md-6">
              <label class="label">Phone: </label>
              <input nbInput fullWidth name="phone" placeholder="Phone number" [(ngModel)]="phone">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Email: </label>
              <input nbInput type="email" fullWidth name="email" placeholder="Email" [(ngModel)]="email">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Registration council: </label>
              <input nbInput fullWidth name="reg-council" placeholder="Registration council" [(ngModel)]="council">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Registration number: </label>
              <input nbInput fullWidth name="reg-number" placeholder="Registration number" [(ngModel)]="regNumber">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Registration year: </label>
              <input nbInput fullWidth name="reg-year" placeholder="Registration year" [(ngModel)]="regYear">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Appointment type: </label>
              <nb-select fullWidth [(selected)]="appointmentType">
                <nb-option value="SLOT">Slot</nb-option>
                <nb-option value="QUEUE">Queue</nb-option>
              </nb-select>
            </div>
            <div *ngIf="appointmentType === 'SLOT'" class="form-group col-md-6">
              <label class="label">Slot duration (minutes): </label>
              <input nbInput fullWidth name="slot-duration" type="number" placeholder="Slot duration" [(ngModel)]="slotDuration">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Morning limit: </label>
              <input nbInput fullWidth name="morning-limit" [(ngModel)]="morningLimit" placeholder="Morning limit" type="number">
            </div>
            <div class="form-group col-md-6">
              <label class="label">Evening limit: </label>
              <input nbInput fullWidth name="evening-limit" [(ngModel)]="eveningLimit" placeholder="Evening limit" type="number">
            </div>
          </div>
          <button nbButton status="success">Save</button>
        </form>
      </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>Other Details: </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
      <nb-card-footer *ngIf="!doctor?.email_verified">
        <button nbButton status="warning" (click)="sendVerificationCode()" style="float: right;">Verify email</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card nbSpinnerStatus="primary" [nbSpinner]="locationLoader">
      <nb-card-header>Set location</nb-card-header>
      <nb-card-body>
        <agm-map [usePanning]="true" (mapClick)="placeMarker($event)" [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="setMarkedLocation()" status="success">Set marked location</button>
        <button style="margin-left: 5px;" (click)="setCurrentLocation()" nbButton status="warning">Set current location</button>
        <button style="margin-left: 5px;" (click)="removeLocation()" nbButton status="danger">Remove location</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<ng-template #submitVcDialog>
  <nb-card>
    <nb-card-header>Enter verification code</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="submitVerificationCode()">
        <div class="form-group">
          <input nbInput placeholder="Verification code" fullWidth name="vc" [(ngModel)]="verificationCode">
        </div>
        <button nbButton status="success">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>