<nb-card>
  <nb-card-header>Change password</nb-card-header>
  <nb-card-body>
    <div class="container">
      <form (ngSubmit)="changePassword()">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="label">Old password: </label>
            <!-- <input nbInput type="password" fullWidth name="old" [(ngModel)]="old" placeholder="Old password"> -->
            <div class="input-group mb-3">
              <input #oldPasswordInput class="form-control" name="old" [(ngModel)]="old" type="password" placeholder="Old password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="toggleShowOldPassword()" type="button"><nb-icon [icon]="oldPasswordShown ? 'eye-off-outline' : 'eye-outline'"></nb-icon></button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="label">New password: </label>
            <!-- <input nbInput fullWidth type="password" name="new" [(ngModel)]="new" placeholder="New password"> -->
            <div class="input-group mb-3">
              <input #newPasswordInput class="form-control" type="password" name="new" [(ngModel)]="new" placeholder="New password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="toggleShowNewPassword()" type="button"><nb-icon [icon]="newPasswordShown ? 'eye-off-outline' : 'eye-outline'"></nb-icon></button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="label">Confirm New password: </label>
            <!-- <input nbInput fullWidth type="password" name="confirm-new" [(ngModel)]="confirmNew" placeholder="Confirm New password"> -->
            <div class="input-group mb-3">
              <input #confirmNewPasswordInput class="form-control" type="password" name="confirm-new" [(ngModel)]="confirmNew" placeholder="Confirm New password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="toggleShowConfirmNewPassword()" type="button"><nb-icon [icon]="confirmNewPasswordShown ? 'eye-off-outline' : 'eye-outline'"></nb-icon></button>
              </div>
            </div>
          </div>
        </div>
        <button nbButton status="success">Submit</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>