<nb-card>
  <nb-card-header>Change password</nb-card-header>
  <nb-card-body>
    <div class="container">
      <form (ngSubmit)="changePassword()">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Old password: </label>
            <input nbInput type="password" fullWidth name="old" [(ngModel)]="old" placeholder="Old password">
          </div>
          <div class="form-group col-md-6">
            <label>New password: </label>
            <input nbInput fullWidth type="password" name="new" [(ngModel)]="new" placeholder="New password">
          </div>
          <div class="form-group col-md-6">
            <label>Confirm New password: </label>
            <input nbInput fullWidth type="password" name="confirm-new" [(ngModel)]="confirmNew" placeholder="Confirm New password">
          </div>
        </div>
        <button nbButton status="success">Submit</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>